In [121]:
import pandas as pd
import numpy as np

In [122]:
# Pravimo skup podataka; sve sto nam treba; uzelii smo mali, ali ako nije dovoljno, mozemo uzeti i veliki skup 
ratings = pd.read_csv('input/ratings_small.csv')

In [123]:
# Ucitavamo podatke o filmovima, id, naslov i zanrove
movies = pd.read_csv('input/movies_metadata.csv', usecols=['id', 'title', 'genres'])
movies.head()

,genres,id,title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II

In [124]:
for i in movies.id:
    if "-" in i:
        print(i)

1997-08-20
2012-09-29
2014-01-01

In [125]:
# Sada dropujemo kolone koje imaju -a u formi datuma
movies = movies.drop(movies[movies.id.str.contains("-")].index)

In [126]:
for i in movies.id:
    if "-" in i:
        print(i)

In [127]:
# Kastujemo u broj
movies['id'] = movies['id'].astype('long')

In [128]:
# Isto radimo i za genres, jer nas zanima samo ime zanra
from ast import literal_eval
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies.head()

                         genres     id                        title
0   [Animation, Comedy, Family]    862                    Toy Story
1  [Adventure, Fantasy, Family]   8844                      Jumanji
2             [Romance, Comedy]  15602             Grumpier Old Men
3      [Comedy, Drama, Romance]  31357            Waiting to Exhale
4                      [Comedy]  11862  Father of the Bride Part II

In [129]:
# Ovde podeli skup podataka prema zanrovima; jos ne znamo da li ce nam ovo biti potrebno u col filt
s = movies.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = movies.drop('genres', axis=1).join(s)

In [130]:
# Pretvaramo u int, jer su neki objekti
ratings['movieId'] = ratings['movieId'].astype('long')

In [131]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [132]:
# pravimo matricu koja ima jednu kolonu za userId i po kolonu za svaki film
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [133]:
# Normalizujemo podatke. Pronaci neki drugi nacin ili se snaci sa StandardScaler

R = Ratings.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [134]:
# Sada SVD
from scipy.sparse.linalg import svds 
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [135]:
sigma = np.diag(sigma)

In [136]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [137]:
all_user_predicted_ratings

array([[-5.42390333e-02,  4.51304289e-02, -4.83461757e-03, ...,
        -6.36490827e-03, -6.09765683e-03, -4.81885918e-03],
       [ 4.19835043e-01,  1.40644018e+00, -1.88807492e-01, ...,
         1.04679741e-03, -1.46825089e-03, -6.57708637e-03],
       [ 1.34561891e+00,  2.66504861e-01, -1.19621144e-02, ...,
         1.06114277e-02,  6.79214329e-03, -6.35703450e-03],
       ...,
       [ 7.28688090e-01, -1.35383733e-01,  1.89809902e-01, ...,
         1.57367435e-03, -3.40631718e-04, -7.00072377e-03],
       [ 1.58186999e+00,  8.45780940e-02, -4.63631293e-02, ...,
         7.31008459e-03,  6.69828780e-03,  4.58389107e-03],
       [ 3.50790455e+00,  3.28823135e-01, -6.74216131e-02, ...,
         1.27775344e-02,  1.10018934e-02, -1.68375103e-02]])

In [138]:
# Pravimo DataFrame od te matrice, to su nam ustv predictions
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)

In [145]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    user_row_number = userID - 1 # jer krece od 1,  a treba nam od 0
    # Sortira vrednosti tog reda u matrici
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) 
    
    # Uzimamo podatke o korisniku i spajamo sa info o filmovima
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'inner', left_on = 'movieId', right_on = 'id').
                     sort_values(['rating'], ascending=False)
                 )
    
    # Preporucujemo filmove sa najvecim predvidjenim vrednostima koje korisnik nije jos pogledao
    recommendations = (movies[~movies['id'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'id',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                        iloc[:num_recommendations, 0:3:2]
                      )
    
    return user_full, recommendations

In [146]:
already_rated, predictions = recommend_movies(preds, 152, movies, ratings, 20)

In [147]:
predictions

,genres,title
6102,"[Crime, Drama, Thriller]",The Good Thief
532,"[Comedy, Drama, Romance]",Sleepless in Seattle
6870,"[Drama, Fantasy, Romance]",Beauty and the Beast
1320,"[Action, Fantasy]",Batman Returns
23960,[Documentary],The Red Elvis
3038,"[Thriller, Crime, Drama]",The Talented Mr. Ripley
1392,"[Drama, Comedy, Romance]",Fools Rush In
43277,[Foreign],Boat
1490,"[Comedy, Romance]",My Best Friend's Wedding
1889,"[Adventure, Comedy, Family, Science Fiction]",Back to the Future Part II
33192,"[Drama, Romance]",Don't Look Down
10310,"[Romance, Western]",Will Penny
9088,"[Crime, Action, Comedy]","Bang, Boom, Bang"
2827,"[Comedy, Romance]",Fever Pitch
3583,"[Crime, Drama, Mystery]",The Conversation
3761,"[Drama, Crime, Music]",Dancer in the Dark
12058,"[Animation, Drama]",Persepolis
286,[Drama],Once Were Warriors
36671,[Drama],Windows on Monday
7707,"[Comedy, Drama, Foreign, Romance]",Wish You Were Here

In [149]:
already_rated

,userId,movieId,rating,timestamp,genres,id,title
44,152,1653,5.0,1335947506,[Drama],1653,The Motorcycle Diaries
71,152,31410,5.0,1335900450,[Comedy],31410,My Sweet Little Village
51,152,2028,5.0,1335948073,"[Comedy, Drama, Romance]",2028,Say Anything...
15,152,296,4.5,1335947920,"[Action, Thriller, Science Fiction]",296,Terminator 3: Rise of the Machines
86,152,68954,4.5,1335900872,"[TV Movie, Drama, History]",68954,Longitude
84,152,58559,4.5,1335900808,[Drama],58559,Confession of a Child of the Century
82,152,49530,4.5,1335900652,"[Action, Thriller, Science Fiction]",49530,In Time
79,152,44555,4.5,1335900817,"[Comedy, Drama, Thriller]",44555,"A Woman, a Gun and a Noodle Shop"
65,152,6934,4.5,1335949597,[Drama],6934,Yesterday
60,152,4973,4.5,1335901843,"[Drama, Mystery]",4973,Under the Sand
54,152,2959,4.5,1335948082,[Comedy],2959,License to Wed
42,152,1590,4.5,1335899996,[Drama],1590,Copying Beethoven
32,152,608,4.5,1335948018,"[Action, Adventure, Comedy, Science Fiction]",608,Men in Black II
30,152,593,4.5,1335947925,"[Drama, Science Fiction, Adventure, Mystery]",593,Solaris
26,152,541,4.5,1335948214,"[Crime, Drama, Romance]",541,The Man with the Golden Arm
88,152,85414,4.5,1335947588,"[Action, Thriller]",85414,Brake
16,152,316,4.0,1335948100,"[Comedy, Drama]",316,Grill Point
59,152,4896,4.0,1335947815,"[Comedy, Drama]",4896,Muxmäuschenstill
39,152,1265,4.0,1335947847,"[Adventure, Drama, Family]",1265,Bridge to Terabithia
41,152,1580,4.0,1335948091,"[Crime, Drama, Mystery, Thriller]",1580,Rope
48,152,1732,4.0,1335949447,"[Action, Adventure, Comedy]",1732,The Prisoner of Zenda
49,152,1923,4.0,1335948327,"[Drama, Mystery]",1923,Twin Peaks: Fire Walk with Me
17,152,318,4.0,1335947939,"[Drama, Thriller]",318,The Million Dollar Hotel
55,152,3578,4.0,1335900859,[Science Fiction],3578,The Tunnel
57,152,4226,4.0,1335901129,[Comedy],4226,Shriek If You Know What I Did Last Friday the ...
8,152,161,4.0,1335948346,"[Thriller, Crime]",161,Ocean's Eleven
35,152,780,4.0,1335947970,"[Drama, History]",780,The Passion of Joan of Arc
61,152,4993,4.0,1335901299,"[Action, Western, Thriller]",4993,5 Card Stud
64,152,5816,4.0,1335947718,[Comedy],5816,Waiter
66,152,8368,4.0,1335902075,[Drama],8368,The Garden of Eden
...,...,...,...,...,...,...,...
76,152,40819,3.0,1335901584,"[Documentary, Comedy]",40819,Best Worst Movie
72,152,33166,3.0,1335901270,[Drama],33166,Downhill Racer
18,152,349,3.0,1335948140,[Comedy],349,Cockles and Muscles
62,152,4995,3.0,1335900924,[Drama],4995,Boogie Nights
52,152,2324,3.0,1335900376,[Drama],2324,Local Color
33,152,750,3.0,1335900366,"[Drama, Crime, Mystery, Comedy]",750,Murder She Said
56,152,4011,3.0,1335901184,"[Fantasy, Comedy]",4011,Beetlejuice
24,152,480,3.0,1335947928,"[Comedy, Drama, Romance]",480,Monsoon Wedding
25,152,500,2.5,1335948104,"[Crime, Thriller]",500,Reservoir Dogs
27,152,586,2.5,1335948233,"[Comedy, Drama]",586,Wag the Dog
70,152,30707,2.5,1335900800,[Drama],30707,Star 80
40,152,1272,2.5,1335900548,"[Science Fiction, Thriller]",1272,Sunshine
28,152,587,2.5,1335948190,"[Adventure, Fantasy, Drama]",587,Big Fish
74,152,38061,2.5,1335901278,[],38061,Anybody's Son Will Do
53,152,2762,2.5,1335948068,"[Drama, Crime]",2762,Young and Innocent
10,152,231,2.0,1335948114,"[Drama, Thriller]",231,Syriana
31,152,597,2.0,1335948123,"[Drama, Romance, Thriller]",597,Titanic
11,152,253,2.0,1335948227,"[Adventure, Action, Thriller]",253,Live and Let Die
81,152,47491,2.0,1335901071,"[Documentary, Drama]",47491,The Beales of Grey Gardens
34,152,778,2.0,1335948451,"[Comedy, Family]",778,Monsieur Hulot's Holiday
78,152,44191,2.0,1335900892,[Comedy],44191,Loose Screws
13,152,288,2.0,1335948404,[Western],288,High Noon
47,152,1721,1.5,1335948097,"[Adventure, Action, Comedy]",1721,All the Way Boys
9,152,185,1.5,1335948277,"[Science Fiction, Drama]",185,A Clockwork Orange
6,152,135,1.5,1335899920,"[Documentary, Music]",135,Dont Look Back
21,152,434,1.5,1335948250,"[Drama, Thriller]",434,Tough Enough
63,152,5060,1.5,1335900702,[Comedy],5060,Carry On Screaming
4,152,110,0.5,1335947944,"[Drama, Mystery, Romance]",110,Three Colors: Red
43,152,1635,0.5,1335900055,"[Action, Thriller, Science Fiction, Adventure]",1635,The Island
2,152,25,0.5,1335948417,"[Drama, War]",25,Jarhead