In [121]:
import pandas as pd
import numpy as np

In [122]:
# Pravimo skup podataka; sve sto nam treba; uzelii smo mali, ali ako nije dovoljno, mozemo uzeti i veliki skup 
ratings = pd.read_csv('input/ratings_small.csv')

In [151]:
# Ucitavamo podatke o filmovima, id, naslov i zanrove
movies = pd.read_csv('input/movies_metadata.csv')
movies.head()

C:\Users\Natalija\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [152]:
for i in movies.id:
    if "-" in i:
        print(i)

1997-08-20
2012-09-29
2014-01-01

In [153]:
# Sada dropujemo kolone koje imaju -a u formi datuma
movies = movies.drop(movies[movies.id.str.contains("-")].index)

In [154]:
for i in movies.id:
    if "-" in i:
        print(i)

In [155]:
# Kastujemo u broj
movies['id'] = movies['id'].astype('long')

In [156]:
# Isto radimo i za genres, jer nas zanima samo ime zanra
from ast import literal_eval
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [158]:
# Pretvaramo u int, jer su neki objekti
ratings['movieId'] = ratings['movieId'].astype('long')

In [159]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [160]:
# pravimo matricu koja ima jednu kolonu za userId i po kolonu za svaki film
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [161]:
# Normalizujemo podatke. Pronaci neki drugi nacin ili se snaci sa StandardScaler

R = Ratings.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [162]:
# Sada SVD
from scipy.sparse.linalg import svds 
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [163]:
sigma = np.diag(sigma)

In [164]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [165]:
all_user_predicted_ratings

array([[-5.42390333e-02,  4.51304289e-02, -4.83461757e-03, ...,
        -6.36490827e-03, -6.09765683e-03, -4.81885918e-03],
       [ 4.19835043e-01,  1.40644018e+00, -1.88807492e-01, ...,
         1.04679741e-03, -1.46825089e-03, -6.57708637e-03],
       [ 1.34561891e+00,  2.66504861e-01, -1.19621144e-02, ...,
         1.06114277e-02,  6.79214329e-03, -6.35703450e-03],
       ...,
       [ 7.28688090e-01, -1.35383733e-01,  1.89809902e-01, ...,
         1.57367435e-03, -3.40631718e-04, -7.00072377e-03],
       [ 1.58186999e+00,  8.45780940e-02, -4.63631293e-02, ...,
         7.31008459e-03,  6.69828780e-03,  4.58389107e-03],
       [ 3.50790455e+00,  3.28823135e-01, -6.74216131e-02, ...,
         1.27775344e-02,  1.10018934e-02, -1.68375103e-02]])

In [166]:
# Pravimo DataFrame od te matrice, to su nam ustv predictions
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)

In [167]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    user_row_number = userID - 1 # jer krece od 1,  a treba nam od 0
    # Sortira vrednosti tog reda u matrici
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) 
    
    # Uzimamo podatke o korisniku i spajamo sa info o filmovima
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'inner', left_on = 'movieId', right_on = 'id').
                     sort_values(['rating'], ascending=False)
                 )
    
    # Preporucujemo filmove sa najvecim predvidjenim vrednostima koje korisnik nije jos pogledao
    recommendations = (movies[~movies['id'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'id',
               right_on = 'movieId').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                        iloc[:num_recommendations, 0:3:2]
                      )
    
    return user_full, recommendations

In [168]:
already_rated, predictions = recommend_movies(preds, 152, movies, ratings, 20)

In [169]:
predictions

       adult    budget
6102   False         0
532    False  21000000
6870   False         0
1320   False  80000000
23960  False         0
3038   False  40000000
1392   False         0
43277  False         0
1490   False  38000000
1889   False  40000000
33192  False         0
10310  False         0
9088   False   2888030
2827   False         0
3583   False   1600000
3761   False  12800000
12058  False   7300000
286    False         0
36671  False         0
7707   False         0

In [170]:
already_rated

,userId,movieId,rating,timestamp,adult,belongs_to_collection,budget,genres,homepage,id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
44,152,1653,5.0,1335947506,False,NaN,0,[Drama],http://www.motorcyclediariesmovie.com/,1653,...,2004-02-06,1.675637e+07,126.0,"[{'iso_639_1': 'qu', 'name': ''}, {'iso_639_1'...",Released,Before he changed the world the world changed ...,The Motorcycle Diaries,False,7.2,295.0
71,152,31410,5.0,1335900450,False,NaN,0,[Comedy],NaN,31410,...,1985-08-01,0.000000e+00,98.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,NaN,My Sweet Little Village,False,7.5,21.0
51,152,2028,5.0,1335948073,False,NaN,0,"[Comedy, Drama, Romance]",NaN,2028,...,1989-04-14,2.003674e+07,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,To know Lloyd Dobler is to love him. Diane Cou...,Say Anything...,False,7.2,244.0
15,152,296,4.5,1335947920,False,"{'id': 528, 'name': 'The Terminator Collection...",200000000,"[Action, Thriller, Science Fiction]",NaN,296,...,2003-07-02,4.350000e+08,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Machines Will Rise.,Terminator 3: Rise of the Machines,False,5.9,2177.0
86,152,68954,4.5,1335900872,False,NaN,0,"[TV Movie, Drama, History]",NaN,68954,...,2000-01-13,0.000000e+00,198.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Longitude,False,7.3,12.0
84,152,58559,4.5,1335900808,False,NaN,0,[Drama],NaN,58559,...,2012-08-29,0.000000e+00,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Confession of a Child of the Century,False,4.9,6.0
82,152,49530,4.5,1335900652,False,NaN,40000000,"[Action, Thriller, Science Fiction]",http://www.intimemovie.com/,49530,...,2011-10-27,1.739306e+08,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Time Is Power,In Time,False,6.7,3512.0
79,152,44555,4.5,1335900817,False,NaN,0,"[Comedy, Drama, Thriller]",NaN,44555,...,2009-12-11,0.000000e+00,95.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,"A Woman, a Gun and a Noodle Shop",False,4.8,13.0
65,152,6934,4.5,1335949597,False,NaN,0,[Drama],NaN,6934,...,2004-09-03,0.000000e+00,96.0,"[{'iso_639_1': 'zu', 'name': 'isiZulu'}]",Released,NaN,Yesterday,False,8.3,6.0
60,152,4973,4.5,1335901843,False,NaN,0,"[Drama, Mystery]",NaN,4973,...,2000-09-11,0.000000e+00,92.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Can love vanish without a trace?,Under the Sand,False,6.4,31.0
54,152,2959,4.5,1335948082,False,NaN,35000000,[Comedy],http://licensetowedthemovie.warnerbros.com/,2959,...,2007-07-04,6.930722e+07,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,First came love... then came Reverend Frank.,License to Wed,False,5.3,258.0
42,152,1590,4.5,1335899996,False,NaN,11000000,[Drama],NaN,1590,...,2006-09-10,0.000000e+00,104.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Copying Beethoven,False,6.3,44.0
32,152,608,4.5,1335948018,False,"{'id': 86055, 'name': 'Men In Black Collection...",140000000,"[Action, Adventure, Comedy, Science Fiction]",http://www.sonypictures.com/homevideo/meninbla...,608,...,2002-07-03,4.418188e+08,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Same Planet. New Scum.,Men in Black II,False,6.1,3188.0
30,152,593,4.5,1335947925,False,NaN,0,"[Drama, Science Fiction, Adventure, Mystery]",NaN,593,...,1972-03-20,0.000000e+00,167.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Solaris,False,7.7,364.0
26,152,541,4.5,1335948214,False,NaN,0,"[Crime, Drama, Romance]",NaN,541,...,1955-12-14,0.000000e+00,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Man with the Golden Arm,False,6.9,51.0
88,152,85414,4.5,1335947588,False,NaN,0,"[Action, Thriller]",NaN,85414,...,2012-03-22,0.000000e+00,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The only way out is to give in,Brake,False,5.3,75.0
16,152,316,4.0,1335948100,False,NaN,600000,"[Comedy, Drama]",NaN,316,...,2002-02-12,0.000000e+00,111.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Grill Point,False,6.9,7.0
59,152,4896,4.0,1335947815,False,NaN,40000,"[Comedy, Drama]",http://www.mux-braucht-dich.de/,4896,...,2004-01-28,0.000000e+00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Muxmäuschenstill,False,7.1,7.0
39,152,1265,4.0,1335947847,False,NaN,60000000,"[Adventure, Drama, Family]",http://disney.go.com/disneyvideos/liveaction/b...,1265,...,2007-02-16,1.375871e+08,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Close your eyes, but keep your mind wide open.",Bridge to Terabithia,False,7.0,1146.0
41,152,1580,4.0,1335948091,False,NaN,1500000,"[Crime, Drama, Mystery, Thriller]",NaN,1580,...,1948-08-23,2.200000e+06,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Rope,False,7.8,539.0
48,152,1732,4.0,1335949447,False,NaN,0,"[Action, Adventure, Comedy]",NaN,1732,...,1979-08-17,0.000000e+00,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Prisoner of Zenda,False,5.7,14.0
49,152,1923,4.0,1335948327,False,NaN,10000000,"[Drama, Mystery]",NaN,1923,...,1992-06-03,4.160851e+06,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet Laura Palmer... In a town where nothing i...,Twin Peaks: Fire Walk with Me,False,7.3,429.0
17,152,318,4.0,1335947939,False,NaN,8000000,"[Drama, Thriller]",NaN,318,...,2000-02-09,0.000000e+00,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Million Dollar Hotel,False,5.9,76.0
55,152,3578,4.0,1335900859,False,NaN,0,[Science Fiction],NaN,3578,...,1933-10-26,0.000000e+00,72.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,The Tunnel,False,6.5,2.0
57,152,4226,4.0,1335901129,False,NaN,5000000,[Comedy],NaN,4226,...,2000-10-17,0.000000e+00,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shriek If You Know What I Did Last Friday the ...,False,4.8,70.0
8,152,161,4.0,1335948346,False,"{'id': 304, 'name': ""Ocean's Collection"", 'pos...",85000000,"[Thriller, Crime]",http://www.warnerbros.co.uk/movies/oceans-eleven,161,...,2001-12-07,4.507172e+08,116.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,Are you in or out?,Ocean's Eleven,False,7.2,3857.0
35,152,780,4.0,1335947970,False,NaN,0,"[Drama, History]",NaN,780,...,1928-04-21,0.000000e+00,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,An Immortal Screen Classic that will live Fore...,The Passion of Joan of Arc,False,8.2,159.0
61,152,4993,4.0,1335901299,False,NaN,0,"[Action, Western, Thriller]",NaN,4993,...,1968-07-28,0.000000e+00,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A card cheat was hung... then all hell broke l...,5 Card Stud,False,6.0,20.0
64,152,5816,4.0,1335947718,False,NaN,0,[Comedy],http://www.granietfilm.nl/nl/ober.htm,5816,...,2006-09-28,0.000000e+00,95.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,Waiter,False,6.3,8.0
66,152,8368,4.0,1335902075,False,NaN,0,[Drama],NaN,8368,...,2008-01-01,0.000000e+00,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Garden of Eden,False,4.2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,152,40819,3.0,1335901584,False,"{'id': 123218, 'name': 'Troll Collection', 'po...",0,"[Documentary, Comedy]",http://bestworstmovie.com,40819,...,2009-01-01,0.000000e+00,93.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Story Behind The Worst Movie Ever Made - T...,Best Worst Movie,False,7.4,49.0
72,152,33166,3.0,1335901270,False,NaN,16500000,[Drama],NaN,33166,...,1969-11-06,0.000000e+00,101.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,How fast must a man go to get from where he's at?,Downhill Racer,False,6.1,24.0
18,152,349,3.0,1335948140,False,NaN,0,[Comedy],http://www.crustaces-lefilm.com/,349,...,2005-03-30,0.000000e+00,93.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Cockles and Muscles,False,5.1,7.0
62,152,4995,3.0,1335900924,False,NaN,15000000,[Drama],NaN,4995,...,1997-09-11,4.310159e+07,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The life of a dreamer, the days of a business,...",Boogie Nights,False,7.5,812.0
52,152,2324,3.0,1335900376,False,NaN,3250000,[Drama],http://www.localcolormovie.com/,2324,...,2006-09-19,3.278800e+04,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Local Color,False,6.1,8.0
33,152,750,3.0,1335900366,False,NaN,0,"[Drama, Crime, Mystery, Comedy]",NaN,750,...,1961-01-01,0.000000e+00,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who is the blonde in the box?,Murder She Said,False,7.0,31.0
56,152,4011,3.0,1335901184,False,NaN,15000000,"[Fantasy, Comedy]",NaN,4011,...,1988-02-29,7.332667e+07,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's guaranteed to put some life in your after...,Beetlejuice,False,7.1,1475.0
24,152,480,3.0,1335947928,False,NaN,0,"[Comedy, Drama, Romance]",NaN,480,...,2001-08-30,0.000000e+00,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"A stressed father, a bride-to-be with a secret...",Monsoon Wedding,False,6.8,59.0
25,152,500,2.5,1335948104,False,NaN,1200000,"[Crime, Thriller]",NaN,500,...,1992-09-02,1.466101e+07,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every dog has his day.,Reservoir Dogs,False,8.1,3821.0
27,152,586,2.5,1335948233,False,NaN,15000000,"[Comedy, Drama]",NaN,586,...,1997-12-25,6.425651e+07,97.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,"A comedy about truth, justice and other specia...",Wag the Dog,False,6.7,273.0
70,152,30707,2.5,1335900800,False,NaN,0,[Drama],NaN,30707,...,1983-11-11,6.472990e+06,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Star 80,False,6.1,19.0
40,152,1272,2.5,1335900548,False,NaN,50000000,"[Science Fiction, Thriller]",NaN,1272,...,2007-04-05,3.201780e+07,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If the sun dies, so do we.",Sunshine,False,7.0,1210.0
28,152,587,2.5,1335948190,False,NaN,70000000,"[Adventure, Fantasy, Drama]",NaN,587,...,2003-12-25,1.229191e+08,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An adventure as big as life itself.,Big Fish,False,7.6,2064.0
74,152,38061,2.5,1335901278,False,NaN,0,[],http://www.onf-nfb.gc.ca/eng/collection/film/?...,38061,...,NaN,0.000000e+00,57.0,[],Released,NaN,Anybody's Son Will Do,False,0.0,0.0
53,152,2762,2.5,1335948068,False,NaN,0,"[Drama, Crime]",NaN,2762,...,1937-11-01,0.000000e+00,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Brilliant Melodrama,Young and Innocent,False,6.8,42.0
10,152,231,2.0,1335948114,False,NaN,50000000,"[Drama, Thriller]",http://syrianamovie.warnerbros.com/,231,...,2005-11-23,9.400000e+07,128.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Everything is connected.,Syriana,False,6.3,455.0
31,152,597,2.0,1335948123,False,NaN,200000000,"[Drama, Romance, Thriller]",http://www.titanicmovie.com,597,...,1997-11-18,1.845034e+09,194.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Nothing on Earth could come between them.,Titanic,False,7.5,7770.0
11,152,253,2.0,1335948227,False,"{'id': 645, 'name': 'James Bond Collection', '...",7000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/1130/Live-and-Le...,253,...,1973-07-05,1.617778e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roger Moore is James Bond.,Live and Let Die,False,6.4,540.0
81,152,47491,2.0,1335901071,False,"{'id': 448468, 'name': 'Grey Gardens Collectio...",400000,"[Documentary, Drama]",NaN,47491,...,2006-07-21,0.000000e+00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Utilizing hours of unseen archival footage, Th...",The Beales of Grey Gardens,False,6.5,10.0
34,152,778,2.0,1335948451,False,NaN,0,"[Comedy, Family]",NaN,778,...,1953-02-26,0.000000e+00,84.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,It's laugh-vacation time as Jacques Tati romps...,Monsieur Hulot's Holiday,False,7.3,76.0
78,152,44191,2.0,1335900892,False,"{'id': 181502, 'name': 'Screwballs Collection'...",945000,[Comedy],NaN,44191,...,1985-07-19,0.000000e+00,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,More fun than you can shake your stick at!,Loose Screws,False,5.3,14.0
13,152,288,2.0,1335948404,False,NaN,730000,[Western],NaN,288,...,1952-03-27,8.000000e+06,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of a man who was too proud to run.,High Noon,False,7.6,343.0
47,152,1721,1.5,1335948097,False,NaN,0,"[Adventure, Action, Comedy]",NaN,1721,...,1972-12-22,0.000000e+00,106.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,All the Way Boys,False,6.5,71.0
9,152,185,1.5,1335948277,False,NaN,2200000,"[Science Fiction, Drama]",NaN,185,...,1971-12-18,2.658900e+07,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Being the adventures of a young man whose prin...,A Clockwork Orange,False,8.0,3432.0
6,152,135,1.5,1335899920,False,NaN,0,"[Documentary, Music]",NaN,135,...,1967-05-17,0.000000e+00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dont Look Back,False,7.5,35.0
21,152,434,1.5,1335948250,False,NaN,0,"[Drama, Thriller]",http://www.knallhart-derfilm.de,434,...,2006-03-09,0.000000e+00,99.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Tough Enough,False,7.2,14.0
63,152,5060,1.5,1335900702,False,"{'id': 37261, 'name': 'The Carry On Collection...",0,[Comedy],NaN,5060,...,1966-05-20,0.000000e+00,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Carry On Screaming with the Hilarious CARRY ON...,Carry On Screaming,False,7.0,33.0
4,152,110,0.5,1335947944,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[Drama, Mystery, Romance]",NaN,110,...,1994-05-27,0.000000e+00,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
43,152,1635,0.5,1335900055,False,NaN,126000000,"[Action, Thriller, Science Fiction, Adventure]",http://www.theisland-themovie.com/,1635,...,2005-07-20,1.629492e+08,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your time will come...,The Island,False,6.5,1813.0
2,152,25,0.5,1335948417,False,"{'id': 285564, 'name': 'Jarhead Collection', '...",72000000,"[Drama, War]",NaN,25,...,2005-11-04,9.689000e+07,125.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Welcome to the suck.,Jarhead,False,6.6,776.0

In [171]:
# Hocemo top 250

#racunamo prosecnu ocenu koju su filmovi dobijali
vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [172]:
#uzimamo samo one filmove koji imaju vise glasova od 80% filmova u listi
m = vote_counts.quantile(0.8)
m

50.0

In [174]:
#samo nas godina zanima
movies['year'] = pd.to_datetime(movies['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [176]:
#vidmo samo koji filmovi nas zanimaju i uzimamo kolone koje nam trebaju
qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(9151, 6)

In [177]:
#racunamo rating prema ovoj formuli
def weighted_rating(x, C, m):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [178]:
qualified['wr'] = weighted_rating(qualified, C, m)

In [179]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [180]:
qualified

,title,year,vote_count,vote_average,popularity,genres,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,"[Comedy, Drama, Romance]",8.735928
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.990247
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.988818
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.987741
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.985839
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.984595
292,Pulp Fiction,1994,8670,8,140.95,"[Thriller, Crime]",7.984202
314,The Shawshank Redemption,1994,8358,8,51.6454,"[Drama, Crime]",7.983616
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,"[Adventure, Fantasy, Action]",7.983355
351,Forrest Gump,1994,8147,8,48.3072,"[Comedy, Drama, Romance]",7.983194
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,"[Adventure, Fantasy, Action]",7.982089
256,Star Wars,1977,6778,8,42.1497,"[Adventure, Action, Science Fiction]",7.979825
1225,Back to the Future,1985,6239,8,25.7785,"[Adventure, Comedy, Science Fiction, Family]",7.978096
834,The Godfather,1972,6024,8,41.1093,"[Drama, Crime]",7.977321
1154,The Empire Strikes Back,1980,5998,8,19.471,"[Adventure, Action, Science Fiction]",7.977223
46,Se7en,1995,5915,8,18.4574,"[Crime, Mystery, Thriller]",7.976906
24860,The Imitation Game,2014,5895,8,31.5959,"[History, Drama, Thriller, War]",7.976828
359,The Lion King,1994,5520,8,21.6058,"[Family, Animation, Drama]",7.975268
18465,The Intouchables,2011,5410,8,16.0869,"[Drama, Comedy]",7.974770
22841,The Grand Budapest Hotel,2014,4644,8,14.442,"[Comedy, Drama]",7.970653
586,The Silence of the Lambs,1991,4549,8,4.30722,"[Crime, Drama, Thriller]",7.970047
11354,The Prestige,2006,4510,8,16.9456,"[Drama, Mystery, Thriller]",7.969791
522,Schindler's List,1993,4436,8,41.7251,"[Drama, History, War]",7.969292
23673,Whiplash,2014,4376,8,64.3,[Drama],7.968876
289,Leon: The Professional,1994,4293,8,20.4773,"[Thriller, Crime, Drama]",7.968281
4099,Memento,2000,4168,8,15.4508,"[Mystery, Thriller]",7.967341
3030,The Green Mile,1999,4166,8,19.9668,"[Fantasy, Drama, Crime]",7.967326
5481,Spirited Away,2001,3968,8,41.0489,"[Fantasy, Adventure, Animation, Family]",7.965715
1213,The Shining,1980,3890,8,19.6116,"[Horror, Thriller]",7.965037
1057,Reservoir Dogs,1992,3821,8,12.2203,"[Crime, Thriller]",7.964414
...,...,...,...,...,...,...,...
475,Jurassic Park,1993,4956,7,8.86378,"[Adventure, Science Fiction]",6.982470
25390,The Hobbit: The Battle of the Five Armies,2014,4884,7,31.719,"[Action, Adventure, Fantasy]",6.982214
24482,Ex Machina,2015,4862,7,14.1408,"[Drama, Science Fiction]",6.982135
26566,Guardians of the Galaxy Vol. 2,2017,4858,7,185.331,"[Action, Adventure, Comedy, Science Fiction]",6.982120
19731,Silver Linings Playbook,2012,4840,7,14.4881,"[Drama, Comedy, Romance]",6.982054
1167,Return of the Jedi,1983,4763,7,14.5861,"[Adventure, Action, Science Fiction]",6.981767
15017,Kick-Ass,2010,4747,7,17.2604,"[Action, Crime]",6.981706
40882,La La Land,2016,4745,7,19.681686,"[Comedy, Drama, Music, Romance]",6.981699
21161,Despicable Me 2,2013,4729,7,24.8236,"[Animation, Comedy, Family]",6.981637
15348,Toy Story 3,2010,4710,7,16.9665,"[Animation, Family, Comedy]",6.981564
1604,The Truman Show,1998,4702,7,13.1559,"[Comedy, Drama]",6.981533
23561,Birdman,2014,4657,7,18.1933,"[Drama, Comedy]",6.981356
19726,Wreck-It Ralph,2012,4656,7,13.6976,"[Family, Animation, Comedy, Adventure]",6.981352
22059,The Hobbit: The Desolation of Smaug,2013,4633,7,20.6448,"[Adventure, Fantasy]",6.981261
23437,Maleficent,2014,4607,7,19.4674,"[Fantasy, Adventure, Action, Family, Romance]",6.981156
24241,American Sniper,2014,4600,7,19.2286,"[War, Action]",6.981128
13643,Star Trek,2009,4574,7,15.3626,"[Science Fiction, Action, Adventure]",6.981022
1171,Alien,1979,4564,7,23.3774,"[Horror, Action, Thriller, Science Fiction]",6.980981
16066,Black Swan,2010,4562,7,12.9891,"[Drama, Thriller]",6.980972
10839,V for Vendetta,2006,4562,7,20.2144,"[Action, Thriller, Fantasy]",6.980972
23692,Dawn of the Planet of the Apes,2014,4511,7,75.3852,"[Science Fiction, Action, Drama, Thriller]",6.980760
11567,Ratatouille,2007,4510,7,20.508,"[Animation, Comedy, Family, Fantasy]",6.980755
20922,Star Trek Into Darkness,2013,4479,7,15.7813,"[Action, Adventure, Science Fiction]",6.980624
41492,Split,2016,4461,7,28.920839,"[Horror, Thriller]",6.980546
11316,The Departed,2006,4455,7,18.5154,"[Drama, Thriller, Crime]",6.980520
17588,Rise of the Planet of the Apes,2011,4452,7,41.6138,"[Thriller, Action, Drama, Science Fiction]",6.980508
12595,Taken,2008,4444,7,16.3675,"[Action, Thriller]",6.980473
28131,The Hateful Eight,2015,4405,7,20.3288,"[Crime, Drama, Mystery, Western]",6.980302
14984,How to Train Your Dragon,2010,4319,7,14.4167,"[Fantasy, Adventure, Animation, Family]",6.979914
582,Terminator 2: Judgment Day,1991,4274,7,22.6617,"[Action, Thriller, Science Fiction]",6.979705

Top 250 prema zanru

In [182]:
#sada zelimo top prema zanru
#iz movies uzmemo samo genres i dodamo mu index po filmu i na kraju uzmemo samo prvi

s = movies.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_movies = movies.drop('genres', axis=1).join(s)

In [186]:
#primenimo skoro sve ovo odozgo :D id dobijemo preporuku po zanru
def build_chart(genre, percentile=0.85):
    df = gen_movies[gen_movies['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [188]:
build_chart('Thriller').head(15)

,title,year,vote_count,vote_average,popularity,wr
15480,Inception,2010,14075,8,29.1081,7.956460
12481,The Dark Knight,2008,12269,8,123.167,7.950165
292,Pulp Fiction,1994,8670,8,140.95,7.929996
46,Se7en,1995,5915,8,18.4574,7.898573
24860,The Imitation Game,2014,5895,8,31.5959,7.898242
586,The Silence of the Lambs,1991,4549,8,4.30722,7.869538
11354,The Prestige,2006,4510,8,16.9456,7.868463
289,Leon: The Professional,1994,4293,8,20.4773,7.862142
4099,Memento,2000,4168,8,15.4508,7.858217
1213,The Shining,1980,3890,8,19.6116,7.848633
1057,Reservoir Dogs,1992,3821,8,12.2203,7.846050
49,The Usual Suspects,1995,3334,8,16.3025,7.824971
4135,Scarface,1983,3017,8,11.2997,7.807845
32144,Room,2015,2838,8,12.4433,7.796607
1176,Psycho,1960,2405,8,36.8263,7.763091

Metadata Based Recommender

In [189]:
credits = pd.read_csv('input/credits.csv')
keywords = pd.read_csv('input/keywords.csv')

In [190]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')

In [191]:
movies = movies.merge(credits, on='id')
movies = movies.merge(keywords, on='id')

In [195]:
links_small = pd.read_csv('input/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
links_small.shape

(9112,)

In [200]:
smovies = movies[movies['id'].isin(links_small)]
smovies.shape

(9219, 28)

In [201]:
smovies['cast'] = smovies['cast'].apply(literal_eval)
smovies['crew'] = smovies['crew'].apply(literal_eval)
smovies['keywords'] = smovies['keywords'].apply(literal_eval)
smovies['cast_size'] = smovies['cast'].apply(lambda x: len(x))
smovies['crew_size'] = smovies['crew'].apply(lambda x: len(x))

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [202]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [203]:
smovies['director'] = smovies['crew'].apply(get_director)

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [206]:
#uzimamo samo prva tri glumca, ne radi mi ova prva linija valjda zato sto je niz a ne mapa
smovies['cast'] = smovies['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smovies['cast'] = smovies['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [207]:
smovies['keywords'] = smovies['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [209]:
smovies['cast'] = smovies['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [210]:
smovies['director'] = smovies['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smovies['director'] = smovies['director'].apply(lambda x: [x,x, x])

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [211]:
s = smovies.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [212]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [213]:
s = s[s > 1]

In [214]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [216]:
smovies['keywords'] = smovies['keywords'].apply(filter_keywords)
#smovies['keywords'] = smovies['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smovies['keywords'] = smovies['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [218]:
smovies['soup'] = smovies['keywords'] + smovies['cast'] + smovies['director'] + smovies['genres']
smovies['soup'] = smovies['soup'].apply(lambda x: ' '.join(x))

C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Natalija\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [233]:
#ista fora kao sa onim tdfvetorizerom
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smovies['soup'])

In [236]:
count_matrix.toarray()

MemoryError: