Učitavanje potrebnih paketa

In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval
from scipy.sparse.linalg import svds
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import warnings; warnings.simplefilter('ignore')

Učitavamo skupove podataka koje ćemo koristiti

In [2]:
# Uuzeli smo manji skup, ali ako nije dovoljno, mozemo uzeti i veliki skup; sa velikim neće da radi, preveliki je 
ratings = pd.read_csv('input/ratings_small.csv')
# Učitvamo i podatke o filmovima
movies = pd.read_csv('input/movies_metadata.csv')

In [3]:
# Ispisujemo samo da bismo videli šta sve imamo od podataka
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Sada sređujemo učitane skupove. Izbacujemo one one koji nam ne odgovaraju i kastujemo u odgovarajuće formate

In [5]:
# Ovde vidimo da imamo 3 filma kojima je ID u obliku datuma, pa ćemo ih izbaciti, zbog lakšeg rukovanja
for i in movies.id:
    if "-" in i:
        print(i)

1997-08-20
2012-09-29
2014-01-01

In [6]:
# Izbacujemo ih
movies = movies.drop(movies[movies.id.str.contains("-")].index)

In [7]:
# Kastujemo podatke iz kolone ID u skupu podataka movies u long; isto i za movieId u skupu podataka ratings
movies['id'] = movies['id'].astype('long')
ratings['movieId'] = ratings['movieId'].astype('long')

In [8]:
# Za kolonu genre: želimo da pišu samo imena žanrova
movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
# zelimo samo godinu, ne ceo datum
movies['year'] = pd.to_datetime(movies['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

Pravimo matricu od DataFrame-a ratings

In [9]:
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Normalizacija podataka ?????

In [10]:
#  Pronaci neki drugi nacin ili se snaci sa StandardScaler
# Za Milosa: Mozda bismo mogli da pitamo Andjelku sta sa ovim????
R = Ratings.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

SVD

In [11]:
# Primenjujemo SVD na normalizovanu matricu Ratings; naci cemo 50 sopstvenih vrednosti i odgovarajucih vektora
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

a

In [12]:
# Pravimo dijagonalnu matricu od sigma vrednosti
sigma = np.diag(sigma)

In [13]:
# Sta smo ovde uradili?
#ovde dobijemo matricu na osnovu koje dovijemo preporuke, tj. neka slicnost izmedju korisnika
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [14]:
all_user_predicted_ratings

array([[-5.42390333e-02,  4.51304289e-02, -4.83461757e-03, ...,
        -6.36490827e-03, -6.09765683e-03, -4.81885918e-03],
       [ 4.19835043e-01,  1.40644018e+00, -1.88807492e-01, ...,
         1.04679741e-03, -1.46825089e-03, -6.57708637e-03],
       [ 1.34561891e+00,  2.66504861e-01, -1.19621144e-02, ...,
         1.06114277e-02,  6.79214329e-03, -6.35703450e-03],
       ...,
       [ 7.28688090e-01, -1.35383733e-01,  1.89809902e-01, ...,
         1.57367435e-03, -3.40631718e-04, -7.00072377e-03],
       [ 1.58186999e+00,  8.45780940e-02, -4.63631293e-02, ...,
         7.31008459e-03,  6.69828780e-03,  4.58389107e-03],
       [ 3.50790455e+00,  3.28823135e-01, -6.74216131e-02, ...,
         1.27775344e-02,  1.10018934e-02, -1.68375103e-02]])

In [15]:
# Pravimo DataFrame od dobijene matrice, to su nam ustv predictions
predictions = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)

Preporucujemo filmove sa najvecim predvidjenim vrednostima koje korisnik nije jos pogledao i to tako sto:
 - prvo iskljucujemo sve filmove koje je korisnik pogledao
 - zatim skup podataka fulmova koje imamo spajamo sa dobijenim sortiranim predvidjanjima prema id-u filma
 - onda preimenujemo dodatu kolonu i sortiramo opadajuce, kako bi filmovi sa najvecim rejtingom bili na vrhu
 - na samom kraju izdvojimo onoliko filmova koliko zelimo, pri cemu hocemo da se ispisu samo odredjene kolone
 
Funkcija vraca podatke o filmovima koje je korisnik vec ocenio i preporuke

In [16]:
def recommend_movies(predictions, userID, movies, ratings, num_recommendations):
    
    user_row_number = userID - 1 # jer krece od 1, a treba nam od 0
    
    # Sortiramo vrednosti datog reda u matrici predictions
    sorted_user_predictions = predictions.iloc[user_row_number].sort_values(ascending=False) 
    
    # Uzimamo podatke o korisniku i spajamo sa info o filmovima
    user_data = ratings[ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'inner', left_on = 'movieId', right_on = 'id').
                     sort_values(['rating'], ascending=False))
    
    # Preporucujemo filmove sa najvecim predvidjenim vrednostima koje korisnik nije jos pogledao
    recommendations = (movies[~movies['id'].isin(user_full['movieId'])].
                       merge(pd.DataFrame(sorted_user_predictions).reset_index(), 
                             how = 'left', left_on = 'id', right_on = 'movieId').
                       rename(columns = {user_row_number: 'predictions'}).
                       sort_values('predictions', ascending = False).
                       iloc[:num_recommendations])
    
    return user_full, recommendations[['title', 'genres', 'vote_average', 'vote_count', 'predictions']]

Testiramo uradjeno: Trazimo 20 preporuka za korisnika 99 prema navedenim skupovima podataka

In [17]:
already_rated, recommendations = recommend_movies(predictions, 99, movies, ratings, 20)

In [18]:
recommendations

,title,genres,vote_average,vote_count,predictions
2080,Young and Innocent,"[Drama, Crime]",6.8,42.0,2.518254
9217,Blood: The Last Vampire,"[Fantasy, Animation, Horror, Comedy, Thriller,...",6.6,76.0,2.428378
10901,Cars,"[Animation, Adventure, Comedy, Family]",6.6,3991.0,2.211140
1313,Batman Returns,"[Action, Fantasy]",6.6,1706.0,2.187512
6814,Battle Royale,"[Drama, Thriller, Adventure]",7.3,992.0,2.103466
5806,The Hours,[Drama],7.0,461.0,1.999539
1226,The Big Sleep,"[Crime, Drama, Mystery, Thriller]",7.6,244.0,1.884463
11486,Lonely Hearts,"[Drama, Thriller, Crime, Romance]",6.0,88.0,1.774396
3217,The Searchers,[Western],7.7,332.0,1.738041
22249,Miffo,"[Comedy, Drama]",4.0,5.0,1.640496
3521,The Man with the Golden Arm,"[Crime, Drama, Romance]",6.9,51.0,1.584392
33763,The Pawnshop,[Comedy],6.4,17.0,1.558030
1622,Titanic,"[Drama, Romance, Thriller]",7.5,7770.0,1.508078
3031,Galaxy Quest,"[Comedy, Family, Science Fiction]",6.9,722.0,1.507217
4877,48 Hrs.,"[Thriller, Action, Comedy, Crime, Drama]",6.5,364.0,1.476534
529,Sleepless in Seattle,"[Comedy, Drama, Romance]",6.5,630.0,1.439499
11644,Meet the Robinsons,"[Animation, Comedy, Family]",6.7,787.0,1.420236
2624,The Sixth Sense,"[Mystery, Thriller, Drama]",7.7,3223.0,1.412701
28851,The Vexxer,"[Comedy, Crime]",6.3,33.0,1.398750
931,The 39 Steps,"[Action, Thriller, Mystery]",7.4,217.0,1.391737

In [19]:
already_rated

,userId,movieId,rating,timestamp,adult,belongs_to_collection,budget,genres,homepage,id,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
105,99,5991,5.0,1044754204,False,NaN,0,[Drama],NaN,5991,...,0.0,90.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Last Laugh,False,7.7,63.0,1924
75,99,2067,5.0,938624807,False,NaN,90000000,[Science Fiction],NaN,2067,...,60874615.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Let There Be Life.,Mission to Mars,False,5.7,374.0,2000
35,99,912,5.0,938587795,False,NaN,4300000,"[Romance, Crime, Thriller, Drama]",NaN,912,...,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Thomas Crown Affair,False,6.9,95.0,1968
43,99,953,5.0,938587876,False,"{'id': 14740, 'name': 'Madagascar Collection',...",75000000,"[Family, Animation]",NaN,953,...,532680671.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Someone's got a zoo loose.,Madagascar,False,6.6,3322.0,2005
33,99,903,5.0,938588142,False,NaN,3000000,"[Crime, Drama]",NaN,903,...,16217773.0,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What we've got here is failure to communicate.,Cool Hand Luke,False,7.7,390.0,1967
90,99,2692,5.0,938549686,False,NaN,0,[Documentary],NaN,2692,...,0.0,90.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,The Red Elvis,False,8.0,1.0,2007
98,99,4034,5.0,982280553,False,NaN,0,"[Action, Adventure, Comedy]",NaN,4034,...,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Look What They Call a Quiet Week in Rio!,That Man from Rio,False,7.1,32.0,1964
56,99,1619,5.0,938585094,False,NaN,8500000,"[Action, Crime, Drama, Thriller]",NaN,1619,...,19125401.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Way of the Gun,False,6.4,106.0,2000
96,99,3160,5.0,947519369,False,NaN,0,"[Horror, Science Fiction]",NaN,3160,...,0.0,93.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Frankenstein Conquers the World,False,5.8,9.0,1965
58,99,1721,5.0,938586999,False,NaN,0,"[Adventure, Action, Comedy]",NaN,1721,...,0.0,106.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,All the Way Boys,False,6.5,71.0,1972
25,99,608,5.0,938585500,False,"{'id': 86055, 'name': 'Men In Black Collection...",140000000,"[Action, Adventure, Comedy, Science Fiction]",http://www.sonypictures.com/homevideo/meninbla...,608,...,441818803.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Same Planet. New Scum.,Men in Black II,False,6.1,3188.0,2002
23,99,595,5.0,938586006,False,NaN,2000000,"[Crime, Drama]",NaN,595,...,13129846.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Kill a Mockingbird,False,7.9,676.0,1962
18,99,509,5.0,938587301,False,NaN,42000000,"[Romance, Comedy, Drama]",http://www.notting-hill.com/,509,...,363889678.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can the most famous film star in the world fal...,Notting Hill,False,7.0,1309.0,1999
38,99,918,5.0,938588010,False,NaN,18000000,"[Comedy, Romance]",NaN,918,...,39321715.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A date with her is every man's dream come true...,Blind Date,False,5.6,115.0,1987
100,99,4380,5.0,1044786697,False,NaN,50000000,"[Drama, Romance, Comedy]",http://www.miramax.com/shallwedance/,4380,...,170128460.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Step out of the ordinary,Shall We Dance?,False,5.9,308.0,2004
10,99,318,5.0,947519825,False,NaN,8000000,"[Drama, Thriller]",NaN,318,...,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Million Dollar Hotel,False,5.9,76.0,2000
104,99,4995,5.0,1015037662,False,NaN,15000000,[Drama],NaN,4995,...,43101594.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The life of a dreamer, the days of a business,...",Boogie Nights,False,7.5,812.0,1997
103,99,4993,5.0,1044786919,False,NaN,0,"[Action, Western, Thriller]",NaN,4993,...,0.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A card cheat was hung... then all hell broke l...,5 Card Stud,False,6.0,20.0,1968
102,99,4973,5.0,1015037811,False,NaN,0,"[Drama, Mystery]",NaN,4973,...,0.0,92.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Can love vanish without a trace?,Under the Sand,False,6.4,31.0,2000
101,99,4641,5.0,1015037824,False,NaN,0,"[Comedy, Drama, Family, TV Movie]",NaN,4641,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Read It and Weep,False,5.3,44.0,2006
39,99,923,4.0,938587817,False,"{'id': 261590, 'name': 'Living Dead Collection...",650000,[Horror],NaN,923,...,55000000.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When there's no more room in hell, the dead wi...",Dawn of the Dead,False,7.4,597.0,1978
47,99,1250,4.0,947519501,False,"{'id': 90306, 'name': 'Ghost Rider Collection'...",110000000,"[Thriller, Action, Fantasy, Horror]",http://www.sonypictures.com/movies/ghostrider/,1250,...,228738393.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hell Is About To Be Unleashed,Ghost Rider,False,5.2,1754.0,2007
41,99,928,4.0,938587795,False,"{'id': 89151, 'name': 'The Gremlins Collection...",50000000,"[Comedy, Horror, Fantasy]",NaN,928,...,41482207.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Here they grow again.,Gremlins 2: The New Batch,False,6.3,664.0,1990
42,99,951,4.0,938587876,False,"{'id': 397444, 'name': 'Kindergarten Cop Colle...",15000000,[Comedy],NaN,951,...,201957688.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Go ahead, you tell him you didn't do your home...",Kindergarten Cop,False,5.8,643.0,1990
86,99,2442,4.0,938623241,False,NaN,0,"[Action, Drama, Thriller]",NaN,2442,...,551281.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Three seconds. Two wires. One out. No mist...,The Final Cut,False,7.3,3.0,1996
84,99,2355,4.0,938586074,False,NaN,20000000,[Drama],http://www.sonypictures.com/movies/reignoverme...,2355,...,22222308.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Let in the unexpected.,Reign Over Me,False,7.1,340.0,2007
83,99,2324,4.0,943444622,False,NaN,3250000,[Drama],http://www.localcolormovie.com/,2324,...,32788.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Local Color,False,6.1,8.0,2006
44,99,968,4.0,938624591,False,NaN,1800000,"[Crime, Drama, Thriller]",NaN,968,...,46665856.0,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The most bizarre bank siege ever,Dog Day Afternoon,False,7.6,685.0,1975
92,99,2912,4.0,942783078,False,NaN,0,"[Drama, Foreign, Thriller]",NaN,2912,...,0.0,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Butcher,False,7.0,36.0,1970
73,99,2018,4.0,938587916,False,NaN,35000000,[Comedy],NaN,2018,...,94728529.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His big day is her big problem.,The Wedding Planner,False,5.4,433.0,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,99,1282,3.0,938587916,False,NaN,0,[Documentary],http://www.sonypictures.com/classics/dogtown/,1282,...,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dogtown and Z-Boys,False,7.2,53.0,2001
49,99,1284,3.0,938587876,False,"{'id': 2248, 'name': 'Torrente Collection', 'p...",0,"[Comedy, Crime]",NaN,1284,...,0.0,99.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Torrente 2: Mission in Marbella,False,6.3,41.0,2001
50,99,1358,3.0,938585285,False,NaN,0,[Documentary],NaN,1358,...,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A Brief History of Time,False,7.4,37.0,1991
51,99,1393,3.0,938587104,False,NaN,0,"[Documentary, Drama]",NaN,1393,...,0.0,93.0,"[{'iso_639_1': 'mn', 'name': ''}]",Released,NaN,The Cave of the Yellow Dog,False,7.3,22.0,2005
52,99,1580,3.0,947519657,False,NaN,1500000,"[Crime, Drama, Mystery, Thriller]",NaN,1580,...,2200000.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Rope,False,7.8,539.0,1948
1,99,17,3.0,938586999,False,NaN,0,"[Horror, Thriller, Mystery]",http://www.whatisannwyn.co.uk/,17,...,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One of the living for one of the dead.,The Dark,False,5.6,76.0,2006
54,99,1589,3.0,938585718,False,NaN,0,"[Romance, Comedy, Music]",NaN,1589,...,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Boys from County Clare,False,6.5,3.0,2003
59,99,1732,3.0,938585613,False,NaN,0,"[Action, Adventure, Comedy]",NaN,1732,...,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Prisoner of Zenda,False,5.7,14.0,1979
61,99,1777,3.0,938587337,False,NaN,6000000,[],NaN,1777,...,119114517.0,122.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Controversy... what controversy?,Fahrenheit 9/11,False,6.9,403.0,2004
63,99,1920,3.0,938586895,False,NaN,0,"[Crime, Drama, Thriller]",NaN,1920,...,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The sin ... the lie ... the crime of passion.,Crime of Passion,False,6.4,10.0,1957
64,99,1937,3.0,947519573,False,NaN,0,[Drama],NaN,1937,...,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bonjour Tristesse,False,7.0,23.0,1958
89,99,2687,3.0,938586006,False,NaN,40000000,"[Comedy, Fantasy, Science Fiction]",http://www.theofficialjohncarpenter.com/memoir...,2687,...,14358033.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An adventure like you've never seen.,Memoirs of an Invisible Man,False,5.7,127.0,1992
91,99,2761,2.0,950999958,False,NaN,0,[Thriller],NaN,2761,...,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Secret Agent,False,6.7,36.0,1936
94,99,2966,2.0,942783078,False,NaN,0,"[Adventure, Fantasy, Action, Science Fiction]",NaN,2966,...,0.0,158.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the last place on earth.,"20,000 Leagues Under the Sea",False,4.6,13.0,1997
0,99,2,2.0,950999958,False,NaN,0,"[Drama, Crime]",NaN,2,...,0.0,69.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Released,NaN,Ariel,False,7.1,44.0,1988
80,99,2132,2.0,938623675,False,NaN,0,[Comedy],NaN,2132,...,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Totally Blonde,False,4.3,2.0,2001
78,99,2094,2.0,947519712,False,NaN,0,"[Drama, Music, Romance]",NaN,2094,...,3000000.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Elvis Presley as a Roving, Restless, Reckless,...",Roustabout,False,5.8,11.0,1964
70,99,1951,2.0,947519658,False,"{'id': 1952, 'name': 'USA: Land of Opportuniti...",14200000,[Drama],NaN,1951,...,674918.0,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Liberation. Whether They Want It Or Not.,Manderlay,False,6.9,81.0,2005
12,99,380,2.0,938587172,False,NaN,25000000,[Drama],NaN,380,...,412800000.0,133.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,A journey through understanding and fellowship.,Rain Man,False,7.6,1762.0,1988
7,99,170,2.0,938585857,False,"{'id': 1565, 'name': '28 Days/Weeks Later Coll...",5000000,"[Horror, Thriller, Science Fiction]",NaN,170,...,82719885.0,113.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,His fear began when he woke up alone. His terr...,28 Days Later,False,7.1,1816.0,2002
6,99,160,2.0,938586337,False,NaN,0,[Documentary],NaN,160,...,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Arrival of a Train at La Ciotat,False,6.9,87.0,1896
53,99,1586,2.0,938585094,False,NaN,40000000,"[Thriller, Mystery]",NaN,1586,...,92913171.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The most important part of a story is the ending.,Secret Window,False,6.4,1007.0,2004
81,99,2135,1.0,938624708,False,NaN,80000000,"[Science Fiction, Adventure, Action]",http://timemachine.countingdown.com/,2135,...,123729176.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The greatest adventure THROUGH all time!,The Time Machine,False,5.8,644.0,2002
72,99,2015,1.0,938623675,False,NaN,0,[Drama],NaN,2015,...,0.0,142.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Secret Sunshine,False,6.3,45.0,2007
57,99,1676,1.0,938585037,False,NaN,0,"[Romance, Western]",NaN,1676,...,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Brute in Everyman Was Also in Him - And th...,Will Penny,False,6.4,20.0,1967
97,99,3578,1.0,1015038047,False,NaN,0,[Science Fiction],NaN,3578,...,0.0,72.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,The Tunnel,False,6.5,2.0,1933
55,99,1591,1.0,938586764,False,NaN,0,[Drama],NaN,1591,...,0.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One family's tale of a homeland lost... and a ...,Nowhere in Africa,False,7.0,32.0,2001
20,99,546,1.0,938586706,False,NaN,1000000,[Drama],http://www.transamerica-movie.com/,546,...,13350369.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life is a Journey. Bring an Open Mind.,Transamerica,False,6.9,149.0,2005
13,99,455,1.0,938586663,False,NaN,3500159,"[Comedy, Drama, Romance]",http://www2.foxsearchlight.com/benditlikebeckham/,455,...,76578641.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Sometimes, to follow your dreams... you've got...",Bend It Like Beckham,False,6.2,593.0,2002
9,99,316,1.0,938586591,False,NaN,600000,"[Comedy, Drama]",NaN,316,...,0.0,111.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Grill Point,False,6.9,7.0,2002

####  Funkcija za Top n filmova :D
- Izvuci cemo info o prosecnoj oceni nekog filma iz skupa podataka movies, kao i o broju ocena
- Uzimamo u obzir samo filmove koji imaju vise glasova od 80% filmova 
- Izracunavamo rejting prema formuli ??? 
- Na kraju sortiramo prema rejtingu i uzimamo prvih n
- Ukoliko se navede poseban zanr, uzima prvih n iz tog zanra

In [20]:

#racunamo rating prema ovoj formuli
def weighted_rating(x, C, m):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [21]:
def top_n_movies(n=250, genre='', percentile=0.8):
    
    # Ukoliko je dat odredjen zanr, uzimamo u obzir samo te filmove
    if genre != '':
        s = movies.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
        s.name = 'genre'
        gen_movies = movies.drop('genres', axis=1).join(s)
        top_movies = gen_movies[gen_movies['genre'] == genre]
    else:
        top_movies = movies
    
    #racunamo prosecnu ocenu koju su filmovi dobijali
    vote_counts = top_movies[top_movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = top_movies[top_movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    # uzimamo samo one filmove koji imaju vise glasova percentile% filmova u listi
    m = vote_counts.quantile(percentile)
    
    #vidimo samo koji filmovi nas zanimaju(imaju vise od 50 glasova) i uzimamo kolone koje nam trebaju
    qualified = top_movies[(top_movies['vote_count'] >= m) & (top_movies['vote_count'].notnull()) & (top_movies['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    # Racunamo rejting
    qualified['wr'] = weighted_rating(qualified, C, m)
    
    # Sortiramo vrednosti i uzimamo prvih n
    qualified = qualified.sort_values('wr', ascending=False).head(n)
    
    return qualified

Testiramo uradjeno prvo za sve zanrove, a zatim za odredjeni zanr

In [22]:
top_n_movies()

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.735928
15480,Inception,2010,14075,8,29.1081,7.990247
12481,The Dark Knight,2008,12269,8,123.167,7.988818
22879,Interstellar,2014,11187,8,32.2135,7.987741
2843,Fight Club,1999,9678,8,63.8696,7.985839
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,7.984595
292,Pulp Fiction,1994,8670,8,140.95,7.984202
314,The Shawshank Redemption,1994,8358,8,51.6454,7.983616
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,7.983355
351,Forrest Gump,1994,8147,8,48.3072,7.983194
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,7.982089
256,Star Wars,1977,6778,8,42.1497,7.979825
1225,Back to the Future,1985,6239,8,25.7785,7.978096
834,The Godfather,1972,6024,8,41.1093,7.977321
1154,The Empire Strikes Back,1980,5998,8,19.471,7.977223
46,Se7en,1995,5915,8,18.4574,7.976906
24860,The Imitation Game,2014,5895,8,31.5959,7.976828
359,The Lion King,1994,5520,8,21.6058,7.975268
18465,The Intouchables,2011,5410,8,16.0869,7.974770
22841,The Grand Budapest Hotel,2014,4644,8,14.442,7.970653
586,The Silence of the Lambs,1991,4549,8,4.30722,7.970047
11354,The Prestige,2006,4510,8,16.9456,7.969791
522,Schindler's List,1993,4436,8,41.7251,7.969292
23673,Whiplash,2014,4376,8,64.3,7.968876
289,Leon: The Professional,1994,4293,8,20.4773,7.968281
4099,Memento,2000,4168,8,15.4508,7.967341
3030,The Green Mile,1999,4166,8,19.9668,7.967326
5481,Spirited Away,2001,3968,8,41.0489,7.965715
1213,The Shining,1980,3890,8,19.6116,7.965037
1057,Reservoir Dogs,1992,3821,8,12.2203,7.964414
...,...,...,...,...,...,...
475,Jurassic Park,1993,4956,7,8.86378,6.982470
25390,The Hobbit: The Battle of the Five Armies,2014,4884,7,31.719,6.982214
24482,Ex Machina,2015,4862,7,14.1408,6.982135
26566,Guardians of the Galaxy Vol. 2,2017,4858,7,185.331,6.982120
19731,Silver Linings Playbook,2012,4840,7,14.4881,6.982054
1167,Return of the Jedi,1983,4763,7,14.5861,6.981767
15017,Kick-Ass,2010,4747,7,17.2604,6.981706
40882,La La Land,2016,4745,7,19.681686,6.981699
21161,Despicable Me 2,2013,4729,7,24.8236,6.981637
15348,Toy Story 3,2010,4710,7,16.9665,6.981564
1604,The Truman Show,1998,4702,7,13.1559,6.981533
23561,Birdman,2014,4657,7,18.1933,6.981356
19726,Wreck-It Ralph,2012,4656,7,13.6976,6.981352
22059,The Hobbit: The Desolation of Smaug,2013,4633,7,20.6448,6.981261
23437,Maleficent,2014,4607,7,19.4674,6.981156
24241,American Sniper,2014,4600,7,19.2286,6.981128
13643,Star Trek,2009,4574,7,15.3626,6.981022
1171,Alien,1979,4564,7,23.3774,6.980981
16066,Black Swan,2010,4562,7,12.9891,6.980972
10839,V for Vendetta,2006,4562,7,20.2144,6.980972
23692,Dawn of the Planet of the Apes,2014,4511,7,75.3852,6.980760
11567,Ratatouille,2007,4510,7,20.508,6.980755
20922,Star Trek Into Darkness,2013,4479,7,15.7813,6.980624
41492,Split,2016,4461,7,28.920839,6.980546
11316,The Departed,2006,4455,7,18.5154,6.980520
17588,Rise of the Planet of the Apes,2011,4452,7,41.6138,6.980508
12595,Taken,2008,4444,7,16.3675,6.980473
28131,The Hateful Eight,2015,4405,7,20.3288,6.980302
14984,How to Train Your Dragon,2010,4319,7,14.4167,6.979914
582,Terminator 2: Judgment Day,1991,4274,7,22.6617,6.979705

Top 250 prema zanru

In [23]:
top_n_movies(20, 'Thriller')

,title,year,vote_count,vote_average,popularity,wr
15480,Inception,2010,14075,8,29.1081,7.973053
12481,The Dark Knight,2008,12269,8,123.167,7.969131
292,Pulp Fiction,1994,8670,8,140.95,7.956516
46,Se7en,1995,5915,8,18.4574,7.936721
24860,The Imitation Game,2014,5895,8,31.5959,7.936511
586,The Silence of the Lambs,1991,4549,8,4.30722,7.918275
11354,The Prestige,2006,4510,8,16.9456,7.917589
289,Leon: The Professional,1994,4293,8,20.4773,7.913552
4099,Memento,2000,4168,8,15.4508,7.911042
1213,The Shining,1980,3890,8,19.6116,7.904901
1057,Reservoir Dogs,1992,3821,8,12.2203,7.903243
49,The Usual Suspects,1995,3334,8,16.3025,7.889668
4135,Scarface,1983,3017,8,11.2997,7.878578
32144,Room,2015,2838,8,12.4433,7.871273
1176,Psycho,1960,2405,8,36.8263,7.849345
9430,Oldboy,2003,2000,8,10.6169,7.820794
877,Rear Window,1954,1531,8,17.9113,7.770405
876,Vertigo,1958,1162,8,18.2082,7.705186
1215,M,1931,465,8,12.7524,7.363848
38718,The Handmaiden,2016,453,8,16.727405,7.350909

Metadata Based Recommender

In [24]:
credits = pd.read_csv('input/credits.csv')
keywords = pd.read_csv('input/keywords.csv')

In [25]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')

In [26]:
movies = movies.merge(credits, on='id')
movies = movies.merge(keywords, on='id')

In [27]:
links_small = pd.read_csv('input/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
links_small.shape

(9112,)

In [28]:
smovies = movies[movies['id'].isin(links_small)]
smovies.shape

(9219, 28)

In [29]:
smovies['cast'] = smovies['cast'].apply(literal_eval)
smovies['crew'] = smovies['crew'].apply(literal_eval)
smovies['keywords'] = smovies['keywords'].apply(literal_eval)
smovies['cast_size'] = smovies['cast'].apply(lambda x: len(x))
smovies['crew_size'] = smovies['crew'].apply(lambda x: len(x))

In [30]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [31]:
smovies['director'] = smovies['crew'].apply(get_director)

In [32]:
#uzimamo samo prva tri glumca
smovies['cast'] = smovies['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smovies['cast'] = smovies['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [33]:
smovies['keywords'] = smovies['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [34]:
smovies['cast'] = smovies['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [35]:
smovies['director'] = smovies['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smovies['director'] = smovies['director'].apply(lambda x: [x,x, x])

In [36]:
s = smovies.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [37]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [38]:
s = s[s > 1]

In [39]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [40]:
smovies['keywords'] = smovies['keywords'].apply(filter_keywords)
smovies['keywords'] = smovies['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [41]:
smovies['soup'] = smovies['keywords'] + smovies['cast'] + smovies['director'] + smovies['genres']
smovies['soup'] = smovies['soup'].apply(lambda x: ' '.join(x))

In [42]:

count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smovies['soup'])

In [43]:

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [44]:
smovies = smovies.reset_index()
titles = smovies['title']
indices = pd.Series(smovies.index, index=smovies['title'])

In [45]:


def improved_recommendations(title):
    #uzmemo indeks za taj title koji treba
    idx = indices[title]
    #onda pretvorimo to u listu i stavimo u ovaj sim_scores, sortiramo i uzmemo prvih sledecih 26-25 vrednosti
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    #ovo i[0] je valjda id tih filmova sto nam trebaju, ali nisam siguran
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smovies.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id', 'genres']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.50)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = weighted_rating(qualified, C, m)
    qualified = qualified.sort_values('wr', ascending=False)
    return qualified

In [46]:
improved_recommendations('The Dark Knight')

,title,vote_count,vote_average,year,id,genres,wr
7648,Inception,14075,8,2010,27205,"[Action, Thriller, Science Fiction, Mystery, A...",7.951997
8613,Interstellar,11187,8,2014,157336,"[Adventure, Drama, Science Fiction]",7.940093
6623,The Prestige,4510,8,2006,1124,"[Drama, Mystery, Thriller]",7.859593
3381,Memento,4168,8,2000,77,"[Mystery, Thriller]",7.849215
8031,The Dark Knight Rises,9263,7,2012,49026,"[Action, Crime, Drama, Thriller]",6.975449
6218,Batman Begins,7511,7,2005,272,"[Action, Crime, Drama]",6.970053
7659,Batman: Under the Red Hood,459,7,2010,40662,"[Action, Animation]",6.740000
2131,Superman,1042,6,1978,1924,"[Action, Adventure, Fantasy, Science Fiction]",6.146782
4145,Insomnia,1181,6,2002,320,"[Crime, Mystery, Thriller]",6.134341
1134,Batman Returns,1706,6,1992,364,"[Action, Fantasy]",6.101764
132,Batman Forever,1529,5,1995,414,"[Action, Crime, Fantasy]",5.341710
9024,Batman v Superman: Dawn of Justice,7189,5,2016,209112,"[Action, Adventure, Fantasy]",5.088823
1260,Batman & Robin,1447,4,1997,415,"[Action, Crime, Fantasy]",4.597230

In [47]:
improved_recommendations('Mean Girls')

,title,vote_count,vote_average,year,id,genres,wr
1547,The Breakfast Club,2189,7,1985,2108,"[Comedy, Drama]",6.808159
390,Dazed and Confused,588,7,1993,9571,"[Comedy, Drama]",6.472123
8883,The DUFF,1372,6,2015,272693,"[Romance, Comedy]",5.907845
3712,The Princess Diaries,1063,6,2001,9880,"[Comedy, Family, Romance]",5.887343
4763,Freaky Friday,919,6,2003,10330,[Comedy],5.874313
6277,Just Like Heaven,595,6,2005,9007,"[Comedy, Fantasy, Romance]",5.830098
6959,The Spiderwick Chronicles,593,6,2008,8204,"[Adventure, Family, Fantasy]",5.829728
6449,Aquamarine,372,5,2006,14191,"[Fantasy, Romance, Family, Comedy]",5.242865
2005,She's All That,425,5,1999,10314,"[Comedy, Romance]",5.225726
7494,American Pie Presents: The Book of Love,454,5,2009,26123,[Comedy],5.217333
7332,Ghosts of Girlfriends Past,716,5,2009,12556,"[Fantasy, Comedy, Romance]",5.162687
7905,Mr. Popper's Penguins,775,5,2011,58224,"[Comedy, Family]",5.153969
7688,Vampires Suck,326,4,2010,40264,"[Horror, Comedy]",4.760000

In [51]:
def hybrid(userId, title):
    
    #uzmemo indeks za taj title koji treba
    idx = indices[title]
    #onda pretvorimo to u listu i stavimo u ovaj sim_scores, sortiramo i uzmemo prvih sledecih 26-25 vrednosti
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    #ovo i[0] je valjda id tih filmova sto nam trebaju, ali nisam siguran
    movie_indices = [i[0] for i in sim_scores]
    
    recomended_movies = smovies.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id', 'genres']]
    user_full, recomendations = recommend_movies(predictions, userId, recomended_movies, ratings,20)
    return recomendations

In [52]:
hybrid(500, 'Avatar')

,title,genres,vote_average,vote_count,predictions
10,The Time Machine,"[Thriller, Adventure, Fantasy, Science Fiction...",7.5,217.0,0.539241
0,Aliens,"[Horror, Action, Thriller, Science Fiction]",7.7,3282.0,-0.021333
13,Hercules in New York,"[Action, Adventure, Comedy, Fantasy, Science F...",3.7,63.0,-0.022014
20,Teenage Mutant Ninja Turtles III,"[Action, Adventure, Comedy, Family, Fantasy, S...",5.1,189.0,-0.092514
1,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",7.7,4274.0,-0.100456
2,The Terminator,"[Action, Thriller, Science Fiction]",7.4,4208.0,-0.105171
3,The Abyss,"[Adventure, Action, Thriller, Science Fiction]",7.1,822.0,NaN
4,Piranha Part Two: The Spawning,[Horror],3.9,41.0,NaN
5,True Lies,"[Action, Thriller]",6.8,1138.0,NaN
6,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",7.4,4479.0,NaN
7,Dungeons & Dragons,"[Action, Adventure, Fantasy, Science Fiction]",3.9,159.0,NaN
8,Jupiter Ascending,"[Science Fiction, Fantasy, Action, Adventure]",5.2,2816.0,NaN
9,Small Soldiers,"[Comedy, Adventure, Fantasy, Science Fiction, ...",6.2,522.0,NaN
11,Dragonball Evolution,"[Action, Adventure, Fantasy, Science Fiction, ...",2.9,475.0,NaN
12,Sinbad and the Eye of the Tiger,"[Action, Adventure, Family, Fantasy, Science F...",6.3,39.0,NaN
14,Beastmaster 2: Through the Portal of Time,"[Action, Adventure, Fantasy, Science Fiction]",4.6,17.0,NaN
15,Man of Steel,"[Action, Adventure, Fantasy, Science Fiction]",6.5,6462.0,NaN
16,Return from Witch Mountain,"[Adventure, Fantasy, Science Fiction, Family]",5.6,38.0,NaN
17,Hawk the Slayer,"[Fantasy, Action, Adventure, Science Fiction]",4.5,13.0,NaN
18,Superman II,"[Action, Adventure, Fantasy, Science Fiction]",6.5,642.0,NaN

In [50]:
hybrid(1, 'Avatar')

,title,genres,vote_average,vote_count,predictions
11,The Time Machine,"[Thriller, Adventure, Fantasy, Science Fiction...",7.5,217.0,0.085253
21,Teenage Mutant Ninja Turtles III,"[Action, Adventure, Comedy, Family, Fantasy, S...",5.1,189.0,0.031115
1,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",7.7,4274.0,0.001420
2,The Terminator,"[Action, Thriller, Science Fiction]",7.4,4208.0,0.000731
14,Hercules in New York,"[Action, Adventure, Comedy, Fantasy, Science F...",3.7,63.0,-0.001029
0,Aliens,"[Horror, Action, Thriller, Science Fiction]",7.7,3282.0,-0.005803
6,Titanic,"[Drama, Romance, Thriller]",7.5,7770.0,-0.082640
3,The Abyss,"[Adventure, Action, Thriller, Science Fiction]",7.1,822.0,NaN
4,Piranha Part Two: The Spawning,[Horror],3.9,41.0,NaN
5,True Lies,"[Action, Thriller]",6.8,1138.0,NaN
7,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",7.4,4479.0,NaN
8,Dungeons & Dragons,"[Action, Adventure, Fantasy, Science Fiction]",3.9,159.0,NaN
9,Jupiter Ascending,"[Science Fiction, Fantasy, Action, Adventure]",5.2,2816.0,NaN
10,Small Soldiers,"[Comedy, Adventure, Fantasy, Science Fiction, ...",6.2,522.0,NaN
12,Dragonball Evolution,"[Action, Adventure, Fantasy, Science Fiction, ...",2.9,475.0,NaN
13,Sinbad and the Eye of the Tiger,"[Action, Adventure, Family, Fantasy, Science F...",6.3,39.0,NaN
15,Beastmaster 2: Through the Portal of Time,"[Action, Adventure, Fantasy, Science Fiction]",4.6,17.0,NaN
16,Man of Steel,"[Action, Adventure, Fantasy, Science Fiction]",6.5,6462.0,NaN
17,Return from Witch Mountain,"[Adventure, Fantasy, Science Fiction, Family]",5.6,38.0,NaN
18,Hawk the Slayer,"[Fantasy, Action, Adventure, Science Fiction]",4.5,13.0,NaN